<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Untitled Page</title>
<style type="text/css">
html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -247px;
   float:left
}
div#container
{
   width: 760px;
   height: 495px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
</style>
<style type="text/css">
body
{
   margin: 0;
   padding: 0;
   background-color: #FFFFFF;
   color: #000000;
}
</style>
  <script type="text/javascript" src="../../lib/angularjs/angular.js"></script>
  <script src="../../controllers/main.js"></script>
</head>
<body ng-app="">
<p>Name: <input type="text" ng-model="name"></p>
 	<p ng-bind="name"></p>
<div id="space"><br></div>
<div id="container">
<button id="AdvancedButton1" type="button" onclick="window.location='AUDYTOR_main.html'" name="" value="" style="position:absolute;left:443px;top:455px;width:150px;height:34px;z-index:1;background-color:#FF9966;"><div><font style="font-size:11px" color="#000000" face="Arial">Anuluj</font></div></button>
<div id="wb_Text1" style="margin:0;padding:0;position:absolute;left:6px;top:5px;width:250px;height:19px;text-align:left;z-index:2;">
<font style="font-size:16px" color="#000000" face="Arial"><b>Definiowanie szablonu ankiety</b></font></div>
<div id="wb_Text2" style="margin:0;padding:0;position:absolute;left:10px;top:29px;width:94px;height:14px;text-align:left;z-index:3;">
<font style="font-size:11px" color="#000000" face="Arial">Nazwa szablonu:</font></div>
<div id="wb_Text4" style="margin:0;padding:0;position:absolute;left:10px;top:144px;width:111px;height:14px;text-align:left;z-index:4;">
<font style="font-size:11px" color="#000000" face="Arial">List pytań w ankiecie:</font></div>
<div id="wb_BulletedList1" style="margin:0;padding:0;position:absolute;left:11px;top:189px;width:214px;height:258px;text-align:left;z-index:5;">
<table style="background-color:#E6E6FA;width:100%" border="0" cellpadding="0" cellspacing="2" id="BulletedList1">
<tr>
<td align="left" valign="top" style="width:48px;height:16px"><font style="font-size:12px;color:#000000;font-family:Arial">&bull;</font></td>
<td align="left" valign="top" style="width:160px;height:16px"><font style="font-size:11px" color="#000000" face="Arial">Item 1</font></td>
</tr>
<tr>
<td align="left" valign="top" style="width:48px;height:16px"><font style="font-size:12px;color:#000000;font-family:Arial">&bull;</font></td>
<td align="left" valign="top" style="width:160px;height:16px"><font style="font-size:11px" color="#000000" face="Arial">Item 2</font></td>
</tr>
<tr>
<td align="left" valign="top" style="width:48px;height:16px"><font style="font-size:12px;color:#000000;font-family:Arial">&bull;</font></td>
<td align="left" valign="top" style="width:160px;height:16px"><font style="font-size:11px" color="#000000" face="Arial">Item 3</font></td>
</tr>
<tr>
<td align="left" valign="top" style="width:48px;height:16px"><font style="font-size:12px;color:#000000;font-family:Arial">&bull;</font></td>
<td align="left" valign="top" style="width:160px;height:16px"><font style="font-size:11px" color="#000000" face="Arial">Item 4</font></td>
</tr>
</table></div>
<div id="wb_Text5" style="margin:0;padding:0;position:absolute;left:11px;top:163px;width:124px;height:14px;text-align:left;z-index:6;">
<font style="font-size:11px" color="#000000" face="Arial">Zmień kolejność pytania:</font></div>
<input type="submit" id="Button1" name="" value="W górę" style="position:absolute;left:131px;top:158px;width:48px;height:25px;font-family:Arial;font-size:11px;z-index:7">
<input type="submit" id="Button2" name="" value="W dół" style="position:absolute;left:177px;top:158px;width:48px;height:25px;font-family:Arial;font-size:11px;z-index:8">
<div id="wb_Text6" style="margin:0;padding:0;position:absolute;left:10px;top:57px;width:111px;height:14px;text-align:left;z-index:9;">
<font style="font-size:11px" color="#000000" face="Arial">Dodaj nowe pytanie:</font></div>
<div id="wb_Text7" style="margin:0;padding:0;position:absolute;left:10px;top:81px;width:111px;height:14px;text-align:left;z-index:10;">
<font style="font-size:11px" color="#000000" face="Arial">Typ pytania:</font></div>
<div style="position:absolute;left:71px;top:77px;width:149px;height:18px;border:1px #C0C0C0 solid;z-index:11">
<select name="Combobox1" size="1" id="Combobox1" style="position:absolute;left:0px;top:0px;width:100%;height:100%;border-width:0px;font-family:Arial;font-size:11px;">
</select>
</div>
<input type="submit" id="Button3" name="" value="Dodaj nowe pytanie" style="position:absolute;left:100px;top:99px;width:124px;height:25px;font-family:Arial;font-size:11px;z-index:12">
<button id="AdvancedButton2" type="button" onclick="window.location='AUDYTOR_main.html'" name="" value="" style="position:absolute;left:597px;top:455px;width:150px;height:34px;z-index:13;background-color:#98FB98;"><div><font style="font-size:11px" color="#000000" face="Arial">Zapisz szablon</font></div></button>
<input type="text" id="Editbox1" style="position:absolute;left:99px;top:26px;width:644px;height:16px;border:1px #C0C0C0 solid;font-family:Arial;font-size:11px;z-index:14" name="Editbox1" value="Szablona ankiety do kursu Projektowanie Systemów Informatycznych (Projekt)">
<iframe name="InlineFrame1" id="InlineFrame1" style="position:absolute;left:245px;top:54px;width:498px;height:390px;z-index:15;border:1px #C0C0C0 solid;" src="./szablon_pytania_tekstowego.html" frameborder="0">Your browser does not support inline frames or is currently configured not to display inline frames.</iframe>
</div>
</body>
</html>