<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Untitled Page</title>
<style type="text/css">
html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -195px;
   float:left
}
div#container
{
   width: 490px;
   height: 390px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
</style>
<style type="text/css">
body
{
   margin: 0;
   padding: 0;
   background-color: #FFFFFF;
   color: #000000;
}
</style>
  <script type="text/javascript" src="../../lib/angularjs/angular.js"></script>
  <script src="../../controllers/main.js"></script>

</head>
<body ng-controller="myController">
<button ng-click="wyswietl()"></button>
{{tytul}}
<div id="space"><br></div>
<div id="container">
<div id="wb_Text1" style="margin:0;padding:0;position:absolute;left:0px;top:3px;width:111px;height:14px;text-align:left;z-index:1;">
<font style="font-size:11px" color="#000000" face="Arial">Tytuł:</font></div>
<div id="wb_Text2" style="margin:0;padding:0;position:absolute;left:0px;top:26px;width:111px;height:14px;text-align:left;z-index:2;">
<font style="font-size:11px" color="#000000" face="Arial">Treść:</font></div>
<input type="text" id="Editbox1" style="position:absolute;left:34px;top:0px;width:450px;height:16px;border:1px #C0C0C0 solid;font-family:Arial;font-size:11px;z-index:3" name="Editbox2" value="Uwagi" ng-model="tytul" ng-change="update">
<textarea name="TextArea1" id="TextArea2" style="position:absolute;left:35px;top:25px;width:448px;height:285px;border:1px #C0C0C0 solid;font-family:Arial;font-size:11px;z-index:4" rows="19" cols="82" ng-model="tresc" ng-change="update">Twoje uwagi dotyczące kursu</textarea>
<input type="submit" id="Button1" name="" value="Usuń pytanie" style="position:absolute;left:388px;top:321px;width:96px;height:25px;font-family:Arial;font-size:11px;z-index:5">
<button id="Button2" name=""  value="Zapisz pytanie" style="position:absolute;left:288px;top:321px;width:96px;height:25px;font-family:Arial;font-size:11px;z-index:6" ng-click="zapiszPytanie()">Zapisz pytanie </button>
</div>
</body>
</html>