<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Ankieter</title>
  <script type="text/javascript" src="../lib/angularjs/angular.js"></script>
  <script type="text/javascript" src="../lib/angularjs/angular-route.min.js"></script>
  <script src="../controllers/mainController.js"></script>
  <script src="../controllers/audytorController.js"></script>
  <script src="../controllers/ankietowanyController.js"></script>
  <script src="../controllers/loginController.js"></script>
  
<style type="text/css">
html, body
{
   height: 100%;
}

div#container
{
   width: 994px;
   height: 941px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
div#container2{
	position:absolute;
	left:245px;
	top:54px;
	width:498px;
	height:390px;
	z-index:15;
	border:1px #C0C0C0 solid;
}
table *{
border: 1px solid gray;
}
.selected{
	background: #E00000;
}
#tresc{
width: 452px;
height: 113px
}
</style>
<style type="text/css">
body
{
   margin: 0;
   padding: 0;
   background-color: #F1D1A2;
   color: #000000;
}
</style>
</head>
<body>
<div id="space"><br></div>
<div id="container">
<div ng-view style="position:absolute;left:15px;top:160px;width:768px;height:498px;z-index:0;border:1px #C0C0C0 solid;" ></div>

<div id="wb_Shape1" style="margin:0;padding:0;position:absolute;left:0px;top:0px;width:800px;height:138px;text-align:center;z-index:1;">
<img src="images/img0001.gif" id="Shape1" alt="" title="" style="border-width:0;width:800px;height:138px"></div>
<div id="wb_Image1" style="margin:0;padding:0;position:absolute;left:200px;top:0px;width:402px;height:93px;text-align:left;z-index:3;">
<img src="images/PWR.png" id="Image1" alt="" border="0" style="width:402px;height:93px;"></div>
<div id="wb_Text1" style="margin:0;padding:0;position:absolute;left:202px;top:96px;width:396px;height:37px;text-align:center;z-index:4;">
<font style="font-size:32px" color="#FFFFFF" face="Arial"><b>ANKIETER</b></font></div>
<div id="wb_Text2" style="margin:0;padding:0;position:absolute;left:518px;top:143px;width:31px;height:14px;text-align:left;z-index:5;">
<font style="font-size:11px" color="#000000" face="Arial">{{ 'HELLO' | xlat }}</font></div>
<div id="wb_Text3" style="margin:0;padding:0;position:absolute;left:544px;top:143px;width:60px;height:14px;text-align:left;z-index:6;">
<font style="font-size:11px" color="#000000" face="Arial">Audytor</font></div>
<div id="wb_Text4" style="margin:0;padding:0;position:absolute;left:600px;top:139px;width:100px;height:14px;text-align:left;z-index:7;" ng-controller="loginController">
<font style="font-size:11px" color="#000000" face="Arial"><button ng-click="wyloguj()" style="background-color: #F1D1A2;">{{ 'LOGOUT' | xlat }}</button></font></div>
<div id="wb_Text5" style="margin:0;padding:0;position:absolute;left:699px;top:143px;width:60px;height:14px;text-align:left;z-index:8;">
<font style="font-size:11px" color="#000000" face="Arial">{{ 'SETTINGS' | xlat }}</font></div>
<div id="wb_Text6" style="margin:0;padding:0;position:absolute;left:757px;top:143px;width:18px;height:14px;text-align:left;z-index:9;" ng-click="ustawJezyk(pl)">
<a style="font-size:11px" color="#000000" face="Arial"">PL</a></div>
<div id="wb_Text7" style="margin:0;padding:0;position:absolute;left:772px;top:143px;width:11px;height:14px;text-align:left;z-index:10;">
<font style="font-size:11px" color="#000000" face="Arial">/</font></div>
<div id="wb_Text8" style="margin:0;padding:0;position:absolute;left:778px;top:143px;width:21px;height:14px;text-align:left;z-index:11;" ng-click="ustawJezyk(en)">
<a style="font-size:11px" color="#000000" face="Arial">EN</a></div>
</div>
</body>
</html>