<div id="space"><br></div>
<div id="container">
<a href="http://www.wysiwygwebbuilder.com" target="_blank"><img src="images/builtwithwwb7.gif" alt="WYSIWYG Web Builder" style="position:absolute;left:300px;top:400px;width:88px;height:31px;border-width:0;z-index:250"></a>
<button id="AdvancedButton2" type="button" name="" value="" style="position:absolute;left:597px;top:455px;width:150px;height:34px;z-index:13;background-color:#98FB98;" ng-click="pobierzPlanyAnkietyzacji()"><div><font style="font-size:11px" color="#000000" face="Arial" >Zapisz szablon</font></div></button>
<table style="position:absolute;left:20px;top:30px;width:725px;height:47px;z-index:2;border:2px #C0C0C0 solid;" cellpadding="0" cellspacing="1" id="Table1">
<tr>
<td align="left" valign="top" style="border:1px #C0C0C0 solid;width:142px;height:18px;">
<font style="font-size:11px" color="#000000" face="Arial">Nazwa kursu</font></td>
<td align="left" valign="top" style="border:1px #C0C0C0 solid;width:142px;height:18px;">
<font style="font-size:11px" color="#000000" face="Arial">Prowadzący</font></td>
<td align="left" valign="top" style="border:1px #C0C0C0 solid;width:142px;height:18px;">
<font style="font-size:11px" color="#000000" face="Arial">Termin rozpoczęcia</font></td>
<td align="left" valign="top" style="border:1px #C0C0C0 solid;width:142px;height:18px;">
<font style="font-size:11px" color="#000000" face="Arial">Termin zakończenia</font></td>
<td align="left" valign="top" style="border:1px #C0C0C0 solid;height:18px;">
<font style="font-size:11px" color="#000000" face="Arial">Status</font></td>
</tr>
<tr ng-repeat="plan in planyAnkietyzacji">
<td align="left" valign="top" style="border:1px #C0C0C0 solid;width:142px;height:18px;">
{{plan.kurs.nazwa}}</td>
<td align="left" valign="top" style="border:1px #C0C0C0 solid;width:142px;height:18px;">
{{plan.kurs.prowadzacy}}</td>
<td align="left" valign="top" style="border:1px #C0C0C0 solid;width:142px;height:18px;">
{{plan.termin.od}}</td>
<td align="left" valign="top" style="border:1px #C0C0C0 solid;width:142px;height:18px;">
{{plan.termin.koniec}}</td>
<td align="left" valign="top" style="border:1px #C0C0C0 solid;height:18px;">
niewypełniona</td>
</tr>
</table>
 <div id="wb_Text1" style="margin:0;padding:0;position:absolute;left:21px;top:11px;width:250px;height:14px;text-align:left;z-index:3;">
<font style="font-size:11px" color="#000000" face="Arial">Lista dostępnych ankiet</font></div>
</div>